<h1>About</h1>

<p>This application was written by Samuel Goldmann on behalf of the wonderful people at <a href="http://www.edocument-solutions.com/">eDocument Solutions</a>.</p>

<h2>Backend</h2>
<p>This application's backend was implemented with  <a href="http://www.asp.net/web-api">ASP.NET Web API 2</a> and uses the <a href="http://www.asp.net/entity-framework">ASP.NET Entity Framework</a> for its object-relational mapping.</p>
<p>Backend development time was approximately 10 hours, which included:
    <ul>
        <li><strong>3 hours</strong> to reseaerch and learn the Entity Framework and related best practices</li>
        <li><strong>7 hours</strong> to implement and rigorously test/debug shape generation components, data models, and route controllers.</li>
    </ul>
</p>

<h2>Frontend</h2>
<p>The application's frontend was built using <a href="https://angularjs.org/">AngularJS</a> and <a href="http://getbootstrap.com/">Bootstrap</a>. Additionally, <a href="https://angular-ui.github.io/bootstrap/">AngularJS UI - Bootstrap</a> components were used to provide a simple pagination widget over the shape history.</p>

<p>Frontend development time took approximately 8 hours, which included:
    <ul>
        <li><strong>5 hours</strong> hours to design and implement the UI, and integrate 3rd party libraries.</li>
        <li><strong>3 hours</strong> to implement and rigorously test/debug the view model and route controllers.</li>
    </ul>
    </p>
